<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998664024983-avdbfhihc4ekdid42chnnc7p2psom31b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998664024983-avdbfhihc4ekdid42chnnc7p2psom31b</string>
	<key>API_KEY</key>
	<string>AIzaSyCSHw4r8qMojYq8z4BBn1mGqmKUbSgJOBY</string>
	<key>GCM_SENDER_ID</key>
	<string>998664024983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.fixbro</string>
	<key>PROJECT_ID</key>
	<string>fixbro-2b57e</string>
	<key>STORAGE_BUCKET</key>
	<string>fixbro-2b57e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998664024983:ios:053fdc8e7761a17f72cad2</string>
	<key>DATABASE_URL</key>
	<string>https://fixbro-2b57e.firebaseio.com</string>
</dict>
</plist>